<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta CEP</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <header>
        <h1>Consultar CEP</h1>
    </header>
    
    <main>
        <div id="form">
            <form id="consulta">
                <input type="text" name="cep" id="cep" class="input" placeholder="CEP">
                <input type="button" value="Consultar" id="btn">
            </form>
        </div>
        <div id="res">
            <form>
                <input type="text" class="input" id="logradouro" placeholder="Logradouro">
                <input type="text" class="input" id="complemento" placeholder="Complemento">
                <input type="text" class="input" id="bairro" placeholder="Bairro">
                <input type="text" class="input" id="localidade" placeholder="Localidade">
                <input type="text" class="input" id="uf" placeholder="UF">
            </form>
        </div> 
    </main>    

    <footer></footer>

    <script src="./assets/js/script.js"></script>
</body>
</html>